<template>
    <div class="ui ferrari dashboard clearing segment" :style="{height: 100 + '%'}">
        <div v-if="isLoading" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <h3 class="ui header">
            <i class="feed icon"></i>
            <span class="content">
                Latest article
                <a :href="link" class="sub header">Activities</a>
            </span>
        </h3>
        <div class="ui divided list">
            <div class="item" v-for="entry in entries">
                <div class="content">
                    <a :href="entry.link" class="header">
                         {{ entry.title }}
                    </a>
                    <div class="description">
                        <i>{{ entry.type }}</i> - {{ entry.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data: function () {
            return {
                entries: '',
                link: '',
                isLoading: false,
            }
        },
        created: function() {
            this.fetchEntries();
        },
        methods: {
            fetchEntries() {
                this.isLoading = true;

                axios.get('/api/feed/latestarticles/')
                    .then((response) => {
                        this.isLoading = false;
                        this.entries = response.data.data;
                        this.link = response.data.link;
                    });
            }
        },
    }
</script>