<template>
    <div class="ui ferrari mini labels">
        <div class="ui label">
            <i class="time icon"></i>
            {{ awayTime }}
        </div>
        <div class="ui label">
            <i class="home icon"></i>
            {{ homeTime }}
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    let moment = require('moment-timezone');
    export default {
        data: function () {
            return {
                awayTime: '',
                awayZone: this.timeZoneAway(),
                homeTime: '',
                homeZone: this.timeZoneHome(),
            }
        },
        methods: {
            timeZoneAway() {
                axios.get('/api/time/away')
                    .then((response) => {
                        this.awayZone = response.data;
                    });
            },
            timeZoneHome() {
                axios.get('/api/time/home')
                    .then((response) => {
                        this.homeZone = response.data;
                    });
            },
            updateAwayTime() {
                this.awayTime = moment.tz(this.awayZone).locale('de').format('HH:mm');
            },
            updateHomeTime() {
                this.homeTime = moment.tz(this.homeZone).locale('de').format('HH:mm');
            },
        },
        created: function() {
            setInterval(() => this.updateAwayTime(), 1000);
            setInterval(() => this.updateHomeTime(), 1000);
        }
    }
</script>