<template>
    <div class="ui ferrari dashboard clearing segment">
        <div v-if="isLoading" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <h3 class="ui header">
            <i class="youtube ferrari icon"></i>
            <span class="content">
                YouTube
            </span>
        </h3>
        <div class="ui ferrari fluid card">
            <a :href="video.link" class="image">
                <img :src="video.thumbnail" alt="Teaser">
                <div class="ui ferrari bottom attached label">{{ video.title }}</div>
            </a>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data: function () {
            return {
                video: '',
                isLoading: false,
            }
        },
        created: function() {
            this.fetchVideo();
        },
        methods: {
            fetchVideo() {
                this.isLoading = true;

                axios.get('/api/media/youtube/latest')
                    .then((response) => {
                        this.isLoading = false;
                        this.video = response.data;
                    });
            }
        },
    }
</script>