<template>
    <div class="ui feed">
        <div v-if="isLoading" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="event" v-for="entry in entries">
            <div class="content">
                <div class="summary">
                    {{ entry.type }} -
                    <a :href="entry.link" :title="entry.title">
                        {{ entry.title }}
                    </a>
                    <div class="date">
                        {{ entry.date }}
                    </div>
                </div>
                <div class="extra images">
                    <img :src="entry.image" :alt="entry.title">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data: function () {
            return {
                entries: '',
                isLoading: false,
            }
        },
        created: function() {
            this.fetchEntries();
        },
        methods: {
            fetchEntries() {
                this.isLoading = true;

                axios.get('/api/feed/activities/')
                    .then((response) => {
                        this.isLoading = false;
                        this.entries = response.data.data;
                    });
            }
        },
    }
</script>