<template>
    <div class="row">
        <div class="sixteen wide column">
            <div v-if="isLoading" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <div class="ui four stackable cards">
                <div class="card" v-for="entry in entries">
                    <div class="image">
                        <img :src="entry.image" :alt="entry.title">
                        <div class="ui bottom attached ferrari label">{{ entry.title }}</div>
                    </div>
                    <div class="extra content">
                        <span style="vertical-align: middle">
                            {{ entry.date }}
                        </span>
                        <span class="right floated">
                            <a :href="entry.link" target="_blank" rel="noopener" :title="entry.title" class="ui ferrari mini icon button">
                                <i class="info circle icon"></i>
                            </a>
                            <a :href="entry.history_link" :title="entry.title" class="ui ferrari mini icon button">
                                <i class="unhide icon"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sixteen wide column" v-show="showLoadMore">
            <a href="#" class="ui fluid ferrari button" @click.prevent="fetchFeed">Load more</a>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        props: ['lang'],
        data() {
            return {
                entries: [],
                isLoading: false,
                current_page: 1,
                last_page: 1,
            }
        },
        computed: {
            showLoadMore() {
                return this.current_page < this.last_page;
            }
        },
        created: function() {
            this.fetchFeed();
        },
        methods: {
            fetchFeed() {
                this.isLoading = true;

                let feed_params = {
                    page: this.current_page < this.last_page ? this.current_page + 1 : this.current_page,
                };

                axios.get('/api/feed/history/latest/' + this.lang + '?page=' + feed_params.page)
                    .then(function(response){

                        response.data.data.forEach(function(stories) {
                            this.entries.push(stories);
                        }.bind(this));

                        this.isLoading = false;
                        this.current_page = response.data.current_page;
                        this.last_page = response.data.last_page;
                    }.bind(this));
            },
        },
    }
</script>