@import "../_variables";

.ui.ferrari.buttons .button,
.ui.ferrari.button {
  background: @ferrari;
  color: @ferrariTextColor;
  text-shadow: @ferrariTextShadow;
  background-image: @coloredBackgroundImage;
}
.ui.ferrari.button {
  box-shadow: @coloredBoxShadow;
}
.ui.ferrari.buttons .button:hover,
.ui.ferrari.button:hover {
  background: @ferrariHover;
  color: @ferrariTextColor;
  text-shadow: @ferrariTextShadow;
}
.ui.ferrari.buttons .button:focus,
.ui.ferrari.button:focus {
  background: @ferrariFocus;
  color: @ferrariTextColor;
  text-shadow: @ferrariTextShadow;
}
.ui.ferrari.buttons .button:active,
.ui.ferrari.button:active {
  background: @ferrariDown;
  color: @ferrariTextColor;
  text-shadow: @ferrariTextShadow;
}
.ui.ferrari.buttons .active.button,
.ui.ferrari.buttons .active.button:active,
.ui.ferrari.active.button,
.ui.ferrari.button .active.button:active {
  background: @ferrariActive;
  color: @ferrariTextColor;
  text-shadow: @ferrariTextShadow;
}