@import "../_variables";

.ui.ferrari.header {
  color: @ferrari !important;
}
a.ui.ferrari.header:hover {
  color: @ferrariHover !important;
}
.ui.ferrari.dividing.header {
  border-bottom: @dividedColoredBorderWidth solid @ferrari;
}