@import "../_variables";

i.ferrari.icon {
  color: @ferrari !important;
}
i.inverted.ferrari.icon {
  color: @lightFerrari !important;
}
i.inverted.bordered.ferrari.icon,
i.inverted.circular.ferrari.icon {
  background-color: @ferrari !important;
  color: @white !important;
}