@import "../_variables";

.ui.ferrari.labels .label,
.ui.ferrari.label {
  background-color: @ferrari !important;
  border-color: @ferrari !important;
  color: @ferrariTextColor !important;
}

.ui.label, .ui.labels .label {
  font-size: 1rem;
}