@import "../_variables";

.ui.ferrari.segment:not(.inverted) {
  border-top: @coloredBorderSize solid @ferrari !important;
}

.ui.image.segment:not(.inverted) {
  padding: 0;
}

.ui.inverted.ferrari.segment {
  background-color: @ferrari !important;
  color: @white !important;
}
@media only screen and (min-width: @largeMonitorBreakpoint) {
  .ui.dashboard.segment:not(.inverted) {
    min-height: 265px;
  }
}

.ui.teaser.segment {
  padding: 0;
  max-height: 370px;
}