<template>
    <div class="ui ferrari segment">
        <div v-if="isLoading" class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <div v-if="!isLoading" class="ui relaxed horizontal list">
            <div class="item">
                <div class="content">
                    <div class="ui ferrari label">{{results.season}}</div>
                </div>
            </div>
            <div class="item">
                <a :href="'/results/stats/' + results.season + '/wins'" class="content">
                    Wins <div class="ui ferrari label">{{results.wins}}</div>
                </a>
            </div>
            <div class="item">
                <div class="content">
                    Poles <div class="ui ferrari label">{{results.poles}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Fastest laps <div class="ui ferrari label">0</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Podiums <div class="ui ferrari label">{{results.podiums}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Points <div class="ui ferrari label">{{results.points}}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    Laps <div class="ui ferrari label">{{results.laps}}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default {
        props: ['season'],
        data: function () {
            return {
                results: '',
                isLoading: false,
            }
        },

        created: function() {
            this.fetchResults();
        },

        methods: {
            fetchResults() {
                this.isLoading = true;
                axios.get('/api/results/season/' + this.season)
                    .then((response) => {
                        this.isLoading = false;
                        this.results = response.data;
                    });
            }
        },
    }
</script>