/* Color */
@white : #FFFFFF;
@ferrari : #C30000;
@ferrariHover : saturate(darken(@ferrari, 5), 10, relative);
@ferrariFocus : saturate(darken(@ferrari, 8), 20, relative);
@ferrariDown : darken(@ferrari, 10);
@ferrariActive : saturate(darken(@ferrari, 5), 15, relative);

@lightFerrari : saturate(lighten(@ferrari, 5), 10, relative);

/* Border */
@borderColor : rgba(34, 36, 38, 0.15);

/* Header */
@dividedColoredBorderWidth : 2px;

/* Segment */
@coloredBorderSize : 2px;

/* Button */
@invertedTextColor : @white;
@ferrariTextColor : @invertedTextColor;

@textShadow : none;
@invertedTextShadow : @textShadow;
@ferrariTextShadow : @invertedTextShadow;

@shadowDistance : 0em;
@shadowBoxShadow : 0px -@shadowDistance 0px 0px @borderColor inset;

@coloredBackgroundImage : none;
@coloredBoxShadow : @shadowBoxShadow;

@largeMonitorBreakpoint: 1049px;

@coloredBorderSize: 0.2em;